:root{
  --primary: #FEA116;
  --light: #F1F8FF;
  --dark: #0F1728;
}

.ff-secondary{
  font-family: 'Pacifico', cursive;
}

.fw-medium{
  font-weight: 600 !important;
}

.fw-semi-bold{
  font-weight: 700 !important;
  
}

.back-to-top{
  position: fixed;
  display: flex;
  right: 45px;
  bottom:45px;
  z-index: 99;
}

/**navbar **/

.navbar-dark .navbar-nav .nav-link{
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 35px;
  color: var(--bright)  ;
  text-decoration: uppercase  ;
  font-weight: 500;
  outline: none;
  transition: .5s;
  
}

.sticky-top.navbar-nav .navbar-dark .nav-link{
  padding: 20px 0;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active{
  color: var(--primary) !important;
}

.navbar-dark .navbar-brand img{
  max-height: 60px;
  transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img{
  max-height: 45px;
}

@media (max-width: 991.98px){
  .sticky-top.navbar-dark{
    position: relative;
  }
  .navbar-dark .navbar-collapse{
    margin-top:15px;
    border-top: 1px solid rgba(255, 255, 255, .1);}

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link{
    padding: 14px 0;
    margin-left: 0;
  }
  
  .navbar-dark .navbar-brand img{
    max-height: 45px;
  }
  
}

@media (min-width: 992px){
  .navbar-dark{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent !important;
  }
  
  .sticky-top.navbar-dark{
    position: fixed;
    background: var(--dark) !important;
  }
}

/*** Hero navbar***/

.hero-header{
  background: linear-gradient(
  rgba(15, 23, 43, .9),
  rgba(15, 23, 43, .9)
), url("Images/18f8262341b337e7d3f714e41cef7a09.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header img{
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate{
  100%{
    transform: rotate(360deg);
  }
}

.breadcrumb-item .breadcrumb-item::before{
  color: rgba(255, 255, 255, .5);
}

/***section title***/
.section-title{
  position: relative;
  display: inline-block;
}

.section-title::before{
  position: absolute;
  content:"";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after{
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after
{
  display:none;
}

/**service**/
.service-item{
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;

}

.service-item:hover{
  background: var(--primary);
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/**food menu **/

.nav-pills .nav-item .active{
  border-bottom: 2px solid var(--primary) ;
}

/** Youtube video **/

.video{
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(
  rgba(15, 23, 43, .3),
  rgba(15, 23, 43, .3)),
  url("Images/VID.mp4");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 10px 20px 10px 20px;
}

.video .btn-play:before{
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100%;
  height: 100%;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play span{
  display: block;
  position: relative;
  z-index: 0;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border{
  0%{
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  
  100%{
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/**Team**/

.team-item{
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.8);
  height: calc(100% - 38px);
  transition: .5s;
}

.team-item img{
  transition: .5s;
}

.team-item:hover img{
  transform: scale(1.1);
}

.team-item:hover{
  height: 100%;
}

.team-item .btn{
  border-radius: 30px 30px 0 0;
}

/**Footer**/
.footer .btn.btn-social{
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: .3s;
  
}

.footer .btn-social:hover{
  color: var(--primary);
}

.footer .btn.btn-click{
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before{
  position: relative;
  content: "\f105";
  font-family: "Font Awesome & Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover{
  letter-spacing: 1px;
  box-shadow: none;
}
   .footer .copyright{
     padding: 25px 0;
     font-size: 15px;
     border-top: 1px solid rgba(256, 256, 256, .1);
   }

   .footer .copyright a {
     color: var(--light);
   }
   
   .footer .footer-menu a{
     margin-right: 35px;
     padding-right: 15px;
     border-right: 1px solid rgba(255, 255, 255, .1);
   }
   
   .footer .footer-menu a:last-child{
     margin-right: 0;
     padding-right: 0;
     border-right: none;
   }
   
   footer .container {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

